
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="d-flex justify-content-center align-items-center">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

	
<div class="row">
	{% for plan in plans%}
	
	<div class="col-lg-3 col-md-4 col-sm-6 col-12">
		<div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
			<div class="card d-flex position-relative flex-column">
				<div class='imgContainer'>
					<img src='{{ plan.imageInfo.url }}'>
				</div>
				<div class="content">
					<h2>{{plan.trainingPackageName}}</h2>
					<p class="about text-justify">{{plan.trainingPlansPrice}}</p>
					<p class="about text-justify">{{plan.trainingPlandShortDescription}}</p>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
</div>





</body>
</html>


{% endblock %}