<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
    	body{
    margin-top:20px;
	 white-space: nowrap;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    background-color: #02c2c7;
	white-space: nowrap;
}

.bg-orange {
    background-color: #e95601;
	white-space: nowrap;
}

.bg-green {
    background-color: #5bbd2a;
	white-space: nowrap;
}

.bg-yellow {
    background-color: #f0d001;
	white-space: nowrap;
}

.bg-pink {
    background-color: #ff48a4;
	white-space: nowrap;
}

.bg-purple {
    background-color: #9d60ff;
	white-space: nowrap;
}

.bg-lightred {
    background-color: #ff5722;
	white-space: nowrap;
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}
.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-responsive {
    margin-left: 0; /* Reset the left margin */
    margin-right: 0; /* Reset the right margin */
    padding-left: 0; /* Reset the left padding */
    padding-right: 0; /* Reset the right padding */
}
    </style>
</head>
<body>

<div class="table-responsive w-100 d-block d-md-table col-xs-3" style="margin-left: 0">
<table class="table table-bordered text-center">
<thead>
<tr class="bg-light-gray">
<th class="text-uppercase">
</th>
<th class="text-uppercase">Monday</th>
<th class="text-uppercase">Tuesday</th>
<th class="text-uppercase">Wednesday</th>
<th class="text-uppercase">Thursday</th>
<th class="text-uppercase">Friday</th>
<th class="text-uppercase">Saturday</th>
<th class="text-uppercase">Sunday</th>
<th class="text-uppercase">Total</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-uppercase">Week 1</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>
<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 2</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>
<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 3</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>

<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 4</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>


<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 5</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>

<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 6</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>


<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 7</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>


<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 8</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>


<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 9</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>


<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 10</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>

<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 11</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>

<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 12</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>
<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 13</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>
<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 14</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>
<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 15</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>
<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 16</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>
<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 17</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>
<!------WEEK--------->
<tr>
<td class="text-uppercase">Week 18</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">Easy Run 8 Km + 8 * 10Sec Hill Sprint + 60 Sec RI </div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Moderate</span>
<div class="margin-10px-top font-size14">10KM Moderate Run</div>
<div class="font-size13 text-light-gray">Total 10KM</div>
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">13 Km Easy Run</div>
<div class="font-size13 text-light-gray">Total 13KM</div>
</td>
<td>
<span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 white-space: nowrap">Easy and Strides</span>
<div class="margin-10px-top font-size14">8 KM Easy Run + 4 * 100mts Strides + 75 Sec RI</div>
<div class="font-size13 text-light-gray">Total 9KM</div>
</td>
<td>
<span class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Easy</span>
<div class="margin-10px-top font-size14">14 Km Easy run</div>
<div class="font-size13 text-light-gray">Total 14KM</div>
</td>
<td>
<span class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Long Run</span>
<div class="margin-10px-top font-size14">2KM WU + 16 KM long Run</div>
<div class="font-size13 text-light-gray">Total 18KM</div>
</td>
<td class="bg-light-gray">
</td>
<td>
<span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Planned Total</span>
<div class="margin-10px-top font-size14">73</div>
<div class="font-size13 text-light-gray"></div>
</td>
</tr>
</tbody>
</table>


<div class="table-responsive w-100 d-block d-md-table col-xs-3" style="margin-left: 0">
<table class="table table-bordered text-center">
<thead>
<tr class="bg-light-gray col">

<th class="text-uppercase">Work Out Info</th>
<th class="text-uppercase">Pace Info</th>

</tr>
</thead>
<tbody>
<tr>
<td class="text-uppercase col-4">Current Speed 5KM in 20 mins 00 Sec</td>
<td>   </td>
</tr>
<tr>
<td class="text-uppercase">Intervals</td>
<td> </td>
</tr>
<tr>
<td class="text-uppercase">Strides</td>
<td> </td>
</tr>
<tr>
<td class="text-uppercase">Tempo</td>
<td> </td>
</tr>
<tr>
<td class="text-uppercase">Easy</td>
<td> </td>
</tr>
<tr>
<td class="text-uppercase">Long Runs</td>
<td> </td>
</tr>
<tr>
<td class="text-uppercase">Progressive Runs</td>
<td> 
<table class="table-responsive w-100 d-block d-md-table col-xs-3">
</thead>
<tbody>
<tr><td>level 1</td><td>Pace 1</td></tr>
<tr><td>level 2</td><td>Pace 2</td></tr>
<tr><td>level 3</td><td>Pace 3</td></tr>
</tbody>
</thead>
</table>
</td>
</tr>
<tr>
<td class="text-uppercase">Fartlek 1</td>
<td> 
<table class="table-responsive w-100 d-block d-md-table col-xs-3">
</thead>
<tbody>
<tr><td>level 1</td><td>Pace 1</td></tr>
<tr><td>level 2</td><td>Pace 2</td></tr>

</tbody>
</thead>
</table>

</td>
</tr>
<tr>
<td class="text-uppercase">Fartlek 2</td>
<td> 

<table class="table-responsive w-100 d-block d-md-table col-xs-3">
</thead>
<tbody>
<tr><td>level 1</td><td>Pace 1</td></tr>
<tr><td>level 2</td><td>Pace 2</td></tr>

</tbody>
</thead>
</table>

</td>
</tr>
<tr>
<td class="text-uppercase">Moderate</td>
<td> </td>
</tr>
<tr>
<td class="text-uppercase">3k Pace</td>
<td> </td>
</tr>
<tr>
<td class="text-uppercase">Warm Up</td>
<td> </td>
</tr>
<tr>
<td class="text-uppercase">Cool Down</td>
<td> </td>
</tr>
</tbody>
</table>




</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>